.broadcastPage {
    position: relative;
}

.image {
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    position: absolute;
    width: 100%;
    aspect-ratio: 2112 / 1320;
}

.image img,
.image video {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
