.reply {
    position: absolute;
    z-index: 3;
}

.left {
    left: 0;
    bottom: 0;
}

.right {
    right: 0;
    bottom: 0;
}

.aside .replyMessage {
    position: absolute;
    width: 527px;
    bottom: 156px;
}

.left.aside .replyMessage {
    left: 361px;
}

.right.aside .replyMessage {
    right: 361px;
}

.default {
    display: flex;
    flex-direction: column;
}

.default .replyMessage {
    width: 404px;
    margin-left: 40px;
}

.replyImage {
    margin: 0 auto;
    max-width: max-content;
    width: auto;
    height: 528px;
}
