.building {
    position: absolute;
}

.buildingImage {
    transition: 0.5s;
}

.buildingActiveImage {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    max-width: none;
    opacity: 0;
    visibility: hidden;
}

.buildingCompleteImage {
    /* position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%); */
    max-width: none;
    opacity: 0;
    visibility: hidden;
}

.buildingActive .buildingMainImage {
    opacity: 0;
    visibility: hidden;
}

.buildingActive .buildingActiveImage {
    opacity: 1;
    visibility: visible;
}

.buildingComplete .buildingMainImage {
    opacity: 0;
}

.buildingComplete .buildingActiveImage {
    opacity: 0;
}

.buildingComplete .buildingCompleteImage {
    opacity: 1;
    visibility: visible;
}

.buildingBaloon {
    position: absolute;
    opacity: 0;
    visibility: hidden;
    transition: 0.5s;
    width: 348px;
    background: #feebe0;
    display: flex;
    flex-direction: column;
    gap: 8px;
    align-items: center;
    text-align: center;
    border-radius: 24px;
    padding: 24px;
    z-index: 3;
}

.buildingBaloon:after {
    content: url("../../../assets/images/components/baloon/baloon-arrow.svg");
    position: absolute;
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translate(-50%, 100%);
}

.buildingBaloonCheck {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: #a3c148;
    position: absolute;
    left: 50%;
    top: 0;
    transform: translate(-50%, -50%);
    border: 6.25px solid #feebe0;
    display: none;
    align-items: center;
    justify-content: center;
}

.buildingBaloonCheck svg {
    width: 14px;
}

.buildingActive .buildingBaloon {
    opacity: 1;
    visibility: visible;
}

.buildingComplete .buildingBaloon {
    opacity: 1;
    visibility: visible;
}

.buildingComplete .buildingBaloon .buildingBaloonCheck {
    display: flex;
}

.buildingBaloonTitle {
    font-weight: var(--weight-semibold);
}

.buildingBaloonText {
    white-space: pre-line;
}
