.card {
    box-shadow: 0 0 89px 0 rgba(118, 125, 139, 0.4);
    background: #f7ebe2;
    padding: 24px;
    border-radius: 24px;
    display: flex;
    flex-direction: column;
    gap: 24px;
    min-height: 0;
}

.cardTitle {
    font-weight: var(--weight-semibold);
}

.cardBadge {
    display: flex;
    gap: 16px;
    background: #e0e6fb;
    border: 2px solid rgba(57, 144, 249, 0.08);
    border-radius: 16px;
    padding: 24px;
}

.cardBadge:before {
    content: "";
    min-width: 2px;
    min-height: 100%;
    border-radius: 192px;
    background: #3990f9;
}

.cardBadgeText strong {
    font-weight: var(--weight-semibold);
}

.cardText a {
    color: var(--brand-orange);
    text-decoration: underline;
}

.cardCards.horizontal {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 12px;
}

.cardCards.vertical {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.cardsCard {
    border: 2px solid rgba(90, 32, 5, 0.2);
}

.cardsCard.vertical {
    padding: 20px 12px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12px;
    border-radius: 24px;
}

.cardsCard.horizontal {
    display: grid;
    grid-template-columns: max-content 1fr;
    gap: 16px;
    padding: 20px;
    border-radius: 16px;
}

.cardsCard.fill {
    border: 2px solid rgba(57, 144, 249, 0.08);
    background: #e0e6fb;
}

.cardsCardIcon {
    width: fit-content;
    height: fit-content;
    padding: 8px;
    border-radius: 12px;
    background: #e0e6fb;
}

.cardsCard.fill .cardsCardIcon {
    background: var(--brand-white);
}

.cardsCardIcon svg {
    width: 32px;
    height: 32px;
}

.cardsCardText {
    font-weight: var(--weight-semibold);
}

.cardsCard.vertical .cardsCardText {
    text-align: center;
    flex-grow: 1;
    display: flex;
    align-items: center;
}

.cardsCard.horizontal .cardsCardText {
    display: flex;
    min-height: 100%;
    align-items: center;
}

.cardAnons {
    display: grid;
    grid-template-columns: 64px 1fr;
    gap: 24px;
}

.cardAnonsIcon {
    width: 64px;
    height: 64px;
    border-radius: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.cardAnonsIcon svg {
    width: 44px;
    height: 44px;
}

.cardAnonsText {
    min-height: 100%;
    display: flex;
    align-items: center;
}

.cardAnonsText strong {
    font-weight: var(--weight-semibold);
}

.cardImage {
    height: 100%;
    min-height: 0;
    object-fit: cover;
    margin: 0 auto;
    overflow: hidden;
}

.cardProfile {
    display: grid;
    grid-template-columns: 64px 1fr;
    gap: 16px;
}

.cardProfileAvatar {
    width: 64px;
    height: 64px;
    object-fit: cover;
    border-radius: 12px;
    overflow: hidden;
}

.cardProfileDescription {
    min-height: 100%;
    display: flex;
    align-items: center;
}

.cardList {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 12px;
}

.cardListItem {
    padding: 20px;
    border-radius: 16px;
    border: 2px solid rgba(90, 32, 5, 0.2);
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.cardListItemHead {
    display: flex;
    gap: 8px;
}

.cardListItemIterator {
    color: var(--brand-orange);
    font-weight: var(--weight-semibold);
}

.cardListItemTitle {
    font-weight: var(--weight-semibold);
}
